///////////////////////////////////////////////////////////////////////////
// To prevent text selection while using the timeTravelMouse feature

.addclock-button-wrapper
	width: 100%
	text-align: center
	@media #{$sml}
		margin-top: 2rem
	button
		margin: 0 auto
		border: none
		width: 4rem
		height: 4rem
		border-radius: 50%
		font-size: 3rem
		line-height: 0
		svg
			width: 53%
		@media #{$med}
			.eight &
				display: none
		@media #{$sml}
			.six &
				display: none

.day .addclock-button-wrapper button
	box-shadow: 0 .25rem 0 0 darken($cd-ground, 20%), inset 0 .1rem 0 0 lighten($cd-ground, 5%)
	background-color: desaturate(darken($cd-ground, 5%), 5%)
	svg
		filter: drop-shadow(0 .1rem 0 darken($cd-ground, 20%))
	svg path
		fill: lighten($cd-ground, 20%)
	&:active
		box-shadow: inset 0 .25rem 0 0 darken($cd-ground, 20%), 0 .1rem 0 0 lighten($cd-ground, 5%)
		background-color: darken($cd-ground, 10%)
	&:focus
		background-color: darken($cd-ground, 10%)
		svg path
			fill: lighten($cd-ground, 5%)

.night .addclock-button-wrapper button
	box-shadow: 0 .2rem 0 0 darken($cn-ground, 30%), inset 0 .1rem 0 0 lighten($cn-ground, 5%)
	background-color: lighten($cn-ground, 1%)
	svg
		filter: drop-shadow(0 .2rem 0 darken($cn-ground, 50%))
	svg path
		fill: lighten($cn-ground, 20%)
	&:active
		box-shadow: inset 0 .2rem 0 0 darken($cn-ground, 50%), 0 .1rem 0 0 lighten($cn-ground, 5%)
		background-color: darken($cn-ground, 5%)
	&:focus
		background-color: $cn-ground
		svg path
			fill: lighten($cn-ground, 30%)
