@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: 'Comfortaa', sans;
}

.time {
  font-size: 3rem;
}

.local {
  font-size: 2rem;
}

.gmt-display {
  font-size: 1.2rem;
}
