@import url('https://fonts.googleapis.com/css?family=Comfortaa|Bitter');

body {
  font-family: 'Comfortaa', sans;
}

.time {
  font-size: 7vw;
  text-align: center;
}

.local {
  font-size: 2vw;
  text-align: center;
  font-family: Bitter, 'serif';
}

.meta,
.gmt-display {
  font-size: 1.5vw;
  font-family: Bitter, 'serif';
}
