@import url('https://fonts.googleapis.com/css?family=Comfortaa|Bitter');

$font-numbers: 'Comfortaa', sans;
$font-text: Bitter, 'serif';

body {
  font-family: $font-numbers;
  color: $displayType;
}

.local {
  font-size: 2vw;
  text-align: center;
  font-family: $font-text;
  color: $highlight;
}

.meta,
.rawOffset {
  font-size: 1.5vw;
  font-family: $font-text;
}

.noSelect *,
.time {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect * {
  pointer-events: none;
  & .time {
    pointer-events: all;
  }
}

.time.traveling {
  text-shadow: 1px 1px 1px $highlight;
}
