button,
input {
  cursor: pointer;
}
.local {
  background: none;
  border: none;
  width: 100%;
}
.rawOffset{
  background: none;
  border: none;
  display: inline;
  color: $highlight;
}
.addclock-button-wrapper {
  width: 100%;
  button {
    margin: 0 auto;
    display: block;
    border: none;
    background-color: $displayType;
    color: $background;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 3rem;
    line-height: 0;
    &.hidden {
      display: none;
    }
  }
}
.removeBtn {
  border: none;
  color: $background;
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  font-size: 1.8vw;
  margin-left: 2vw;
  background-color: $highlight;
}
.time,
.timeInput {
  font-size: 7vw;
  font-family: $font-numbers;
  color: $displayType;
  text-align: center;
  background: none;
  border: none;
  width: 80%
}
