// Responsive States
$pt: "(orientation: portrait)";

#template {
  display: none;
}

// Carry on
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: $background;
  padding: 2rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.wrapper {
  height: 100%;
}

#app {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%
}

#clocksBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.clockFace {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.clock {
  .inner {
    padding: 3rem 2rem 5rem 2rem;
    box-shadow: 0px 13px 12px -5px darken( $background, 1%);
    background-color: lighten( $background, .5% );
    border-top: 1px solid;
    border-color: $displayType;
    margin: 2rem;
    &:hover {
      border-color: $highlight;
    }
  }
}

.meta {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
}

.time {
  width: 80%;
  & span:first-child {
    display: inline-block;
    width: 40%;
    text-align: right;
  }
  & span:nth-child(2) {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
  }
  & span:last-child {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
}
.timeMeta {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* one item */
.clock:first-child:nth-last-child(1) {
  width: 40%;
  font-size: 160%;
  @media #{$pt} {
    width: 100%;
  }
}
/* two items */
.clock:first-child:nth-last-child(2),
.clock:first-child:nth-last-child(2) ~ .clock {
    width: 30%;
    font-size: 120%;
    @media #{$pt} {
      width: 100%;
    }
}

/* three items */
.clock:first-child:nth-last-child(3),
.clock:first-child:nth-last-child(3) ~ .clock {
    width: 33%;
    @media #{$pt} {
      width: 100%;
    }
}

/* four items */
.clock:first-child:nth-last-child(4),
.clock:first-child:nth-last-child(4) ~ .clock {
    width: 33%;
    &:nth-child(2n) {
      margin-right: 10%;
    }
    &:nth-child(2n+1) {
      margin-left: 10%;
    }
}


/* five items */
.clock:first-child:nth-last-child(5),
.clock:first-child:nth-last-child(5) ~ .clock {
    width: 33%;
    @media #{$pt} {
      width: 50%;
    }
}

/* six items */
.clock:first-child:nth-last-child(6),
.clock:first-child:nth-last-child(6) ~ .clock {
    width: 33%;
    @media #{$pt} {
      width: 50%;
    }
}

/* seven items */
.clock:first-child:nth-last-child(7),
.clock:first-child:nth-last-child(7) ~ .clock {
    width: 25%;
    @media #{$pt} {
      width: 50%;
    }
}

/* eight items */
.clock:first-child:nth-last-child(8),
.clock:first-child:nth-last-child(8) ~ .clock {
    width: 25%;
    @media #{$pt} {
      width: 50%;
    }
}
