#menu
	position: absolute
	bottom: 100%
	z-index: 10
	margin-bottom: -3rem
	.background
		background-color: $cd-clock
	&.open
		bottom: auto

.menu-button-wrapper
	width: 100%
	position: relative
	z-index: 100
	button
		margin: 0 auto
		display: block
		border-bottom-left-radius: 1rem
		border-bottom-right-radius: 1rem
		height: 3rem
		padding: 1.5rem 2.5rem
		line-height: 0
		font-size: 1.3rem
		@include theme(color, $cd-choice, darken($cn-type, 45%))
		@include theme(background-color, $cd-clock, lighten($cn-ground, 5%))
		& span
			border-bottom-width: 1px
			border-bottom-style: solid
			@include theme(border-color, $cd-choice, darken($cn-type, 45%))
		.night &
			border: .5rem solid darken($cn-ground, 3%)
