@import url('https://fonts.googleapis.com/css?family=Asap:400,500i|Comfortaa:400')

$font-numbers: Comfortaa, sans
$font-text: 'Asap', serif
$font-weight-text: 500

// Colors Night
$cn-ground: #222
$cn-type: whitesmoke
$cn-choice: darkcyan
$cn-disabled: #363636
$cn-dst: #FDAE00
$cn-error: #EB6222

// Colors Day
$cd-ground: #f7ecb8
$cd-clock: #fffdf6
$cd-type: #403d2d
$cd-choice: #2ca2d2
$cd-disabled: #EFEDE7
$cd-dst: #FDAE00
$cd-error: #EB6222

// Responsive States
$pt: "(orientation: portrait)"
$med: "(max-width: 1280px)"
$sml: "(max-width: 667px)"

///////////////////////////////////////////////////////////////////////////
// Utilities
@mixin placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

@mixin selection
	&::-moz-selection
		@content
	&::selection
		@content
