@import url("https://fonts.googleapis.com/css?family=Comfortaa|Bitter");
body,
.time {
  color: #fff; }

.local,
.gmt,
.gmt-display,
.date {
  color: #a50047; }

.remove {
  background-color: #a50047; }

ul {
  color: #222; }

body {
  font-family: 'Comfortaa', sans; }

.time {
  font-size: 7vw;
  text-align: center; }

.local {
  font-size: 2vw;
  text-align: center;
  font-family: Bitter, 'serif'; }

.meta,
.gmt-display {
  font-size: 1.5vw;
  font-family: Bitter, 'serif'; }

button,
input {
  cursor: pointer; }

.local {
  background: none;
  border: none;
  width: 100%; }

.gmt-display {
  background: none;
  border: none;
  width: 4rem;
  display: inline; }

#addButton {
  margin: 0 auto;
  display: block;
  border: none;
  background-color: #fff;
  color: #222;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 0; }

#addWrapper {
  width: 100%; }

.remove {
  border: none;
  color: #222;
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  font-size: 1.8vw;
  margin-left: 2vw; }

body,
html {
  padding: 0;
  margin: 0;
  height: 100%; }

body {
  background-color: #222;
  padding: 2rem;
  box-sizing: border-box; }

#clocksBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 100%; }

.clock .inner {
  padding: 3rem 2rem 5rem 2rem;
  box-shadow: 0px 13px 12px -5px #1f1f1f;
  background-color: #232323;
  border-top: 1px solid;
  border-color: #fff;
  margin: 2rem; }
  .clock .inner:hover {
    border-color: #a50047; }

.meta {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap; }

.time {
  margin-top: .8vw; }

/* one item */
.clock:first-child:nth-last-child(2) {
  width: 40%;
  font-size: 160%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(2) {
      width: 100%; } }

/* two items */
.clock:first-child:nth-last-child(3),
.clock:first-child:nth-last-child(3) ~ .clock {
  width: 30%;
  font-size: 120%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(3),
    .clock:first-child:nth-last-child(3) ~ .clock {
      width: 100%; } }

/* three items */
.clock:first-child:nth-last-child(4),
.clock:first-child:nth-last-child(4) ~ .clock {
  width: 33%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(4),
    .clock:first-child:nth-last-child(4) ~ .clock {
      width: 100%; } }

/* four items */
.clock:first-child:nth-last-child(5),
.clock:first-child:nth-last-child(5) ~ .clock {
  width: 33%; }
  .clock:first-child:nth-last-child(5):nth-child(2n),
  .clock:first-child:nth-last-child(5) ~ .clock:nth-child(2n) {
    margin-right: 10%; }
  .clock:first-child:nth-last-child(5):nth-child(2n+1),
  .clock:first-child:nth-last-child(5) ~ .clock:nth-child(2n+1) {
    margin-left: 10%; }

/* five items */
.clock:first-child:nth-last-child(6),
.clock:first-child:nth-last-child(6) ~ .clock {
  width: 33%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(6),
    .clock:first-child:nth-last-child(6) ~ .clock {
      width: 50%; } }

/* six items */
.clock:first-child:nth-last-child(7),
.clock:first-child:nth-last-child(7) ~ .clock {
  width: 33%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(7),
    .clock:first-child:nth-last-child(7) ~ .clock {
      width: 50%; } }

/* seven items */
.clock:first-child:nth-last-child(8),
.clock:first-child:nth-last-child(8) ~ .clock {
  width: 25%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(8),
    .clock:first-child:nth-last-child(8) ~ .clock {
      width: 50%; } }

/* eight items */
.clock:first-child:nth-last-child(9),
.clock:first-child:nth-last-child(9) ~ .clock {
  width: 25%; }
  @media (orientation: portrait) {
    .clock:first-child:nth-last-child(9),
    .clock:first-child:nth-last-child(9) ~ .clock {
      width: 50%; } }

/*# sourceMappingURL=app.css.map */
